<div *ngIf="inProgress">
	<mat-spinner></mat-spinner>
</div>
<div class="search-panel" [formGroup]="search" *ngIf="!inProgress">
	<mat-form-field class="search-input" appearance="fill">
		<mat-label>Search for:</mat-label>
		<input matInput placeholder="Ex. Pizza" formControlName="searchValue">
	</mat-form-field>
	<button (click)="searchProduct()" class="search-button"><mat-icon>search</mat-icon></button>
	<div formArrayName="options">
		<mat-slide-toggle *ngFor="let option of searchOptionsFormArray.controls; let i = index" [formControlName]="i">{{stores[i].name}}</mat-slide-toggle>
	</div>
</div>
